[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/plugins/start/goyo.vim"]
	path = pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/start/vim-vmath"]
	path = pack/plugins/start/vim-vmath
	url = https://github.com/nixon/vim-vmath
[submodule "pack/plugins/start/DidYouMean"]
	path = pack/plugins/start/DidYouMean
	url = https://github.com/EinfachToll/DidYouMean
[submodule "pack/plugins/start/vim-pandoc-syntax"]
	path = pack/plugins/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
